a {
    color: #ff93e8
}
a:hover,
a:focus {
    color: #d77ae8
}
blockquote {
    border-left: 5px solid #ff93e8
}
blockquote.pull-right {
    border-right: 5px solid #ff93e8
}
.dropdown-menu>.orange>a {
    color: #ffa14a;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.orange>a:hover,
.dropdown-menu>.orange>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ffa14a
}
.dropdown-menu>.grey>a {
    color: #ccc;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.grey>a:hover,
.dropdown-menu>.grey>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ccc
}
.dropdown-menu>.blue>a {
    color: #abcdef;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.blue>a:hover,
.dropdown-menu>.blue>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #abcdef
}
.dropdown-menu>.pink>a {
    color: #fff;
    text-decoration: none;
    background-color: #ff93e8
}
.dropdown-menu>.pink>a:hover,
.dropdown-menu>.pink>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #d77ae8
}
.dropdown-menu>.green>a {
    color: #63e872;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.green>a:hover,
.dropdown-menu>.green>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #63e872
}
.dropdown-menu>.mocha>a {
    color: #c7b07b;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.mocha>a:hover,
.dropdown-menu>.mocha>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #c7b07b
}
.dropdown-menu>.purple>a {
    color: #9768d1;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.purple>a:hover,
.dropdown-menu>.purple>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #9768d1
}
.dropdown-menu>.pool>a {
    color: #4bb5c1;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.pool>a:hover,
.dropdown-menu>.pool>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #4bb5c1
}
.dropdown-menu>.melon>a {
    color: #ff8598;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.melon>a:hover,
.dropdown-menu>.melon>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ff8598
}
.dropdown-menu>.olive>a {
    color: #96ca2d;
    text-decoration: none;
    background-color: #fff
}
.dropdown-menu>.olive>a:hover,
.dropdown-menu>.olive>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #96ca2d
}
.btn-default {
    color: #ff93e8;
    background-color: #fff;
    border-color: #d77ae8
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: #f2f2f2;
    border-color: #d77ae8
}
.btn-primary {
    color: #fff;
    background-color: #ff93e8;
    border-color: #d77ae8
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #d77ae8;
    border-color: #b2559f
}
.btn-link {
    color: #ff93e8
}
.section-head {
    border-bottom: 3px solid #ff93e8;
}
.well {
    background-color: #ff93e8;
    border: 1px solid #d77ae8
}
.nav.open>a,
.nav.open>a:hover,
.nav.open>a:focus {
    color: #fff;
    background-color: #ff93e8;
    border-color: #ff93e8
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #ff93e8
}
.nav .caret {
    border-top-color: #ff93e8;
    border-bottom-color: #ff93e8
}
.nav a:hover .caret {
    border-top-color: #d77ae8;
    border-bottom-color: #d77ae8
}
.navbar-brand {
    color: #ff93e8
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: #d77ae8
}
.jumbotron {
    background-color: #ff93e8
}
.jumbotron .btn-primary {
    background-color: #d77ae8;
    border-color: #b2559f
}
.jumbotron .btn-primary:hover,
.jumbotron .btn-primary:focus,
.jumbotron .btn-primary:active,
.jumbotron .btn-primary.active {
    background-color: #b2559f;
    border-color: #b2559f;
    color: #fff
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
    border-top: 2px solid #ff93e8
}
.navbar-static-top,
.navbar-fixed-top {
    border-top: 2px solid #ff93e8;
    -webkit-box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.5)
}
.navbar-fixed-bottom {
    border-bottom: 2px solid #ff93e8;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5)
}