/* melon color scheme */
/*  base:     #FF8598
*   darker:   #FFC0A9
*   darkest:  #FFFFFF
*/
a {
  color: #FF8598;
}
a:hover,
a:focus {
  color: #FFC0A9;
}
blockquote {
  border-left: 5px solid #FF8598;
}
blockquote.pull-right {
  border-right: 5px solid #FF8598;
}
.dropdown-menu > .orange > a {
  color: #FFA14A;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .orange > a:hover,
.dropdown-menu > .orange > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #FFA14A;
}
.dropdown-menu > .grey > a {
  color: #cccccc;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .grey > a:hover,
.dropdown-menu > .grey > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #cccccc;
}
.dropdown-menu > .blue > a {
  color: #abcdef;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .blue > a:hover,
.dropdown-menu > .blue > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #abcdef;
}
.dropdown-menu > .pink > a {
  color: #FF93E8;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .pink > a:hover,
.dropdown-menu > .pink > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #FF93E8;
}
.dropdown-menu > .green > a {
  color: #63e872;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .green > a:hover,
.dropdown-menu > .green > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #63e872;
}
.dropdown-menu > .mocha > a {
  color: #C7B07B;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .mocha > a:hover,
.dropdown-menu > .mocha > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #C7B07B;
}
.dropdown-menu > .purple > a {
  color: #9768D1;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .purple > a:hover,
.dropdown-menu > .purple > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #9768D1;
}
.dropdown-menu > .pool > a {
  color: #4BB5C1;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .pool > a:hover,
.dropdown-menu > .pool > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #4BB5C1;
}
.dropdown-menu > .melon > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #FF8598;
}
.dropdown-menu > .melon > a:hover,
.dropdown-menu > .melon > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #FFC0A9;
}
.dropdown-menu > .olive > a {
  color: #96CA2D;
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu > .olive > a:hover,
.dropdown-menu > .olive > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #96CA2D;
}
.btn-default {
  color: #FF8598;
  background-color: #ffffff;
  border-color: #FFC0A9;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-color: #f2f2f2;
  border-color: #FFC0A9;
}
.btn-primary {
  color: #ffffff;
  background-color: #FF8598;
  border-color: #FFC0A9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #FFC0A9;
  border-color: #FFFFFF;
}
.btn-link {
  color: #FF8598;
}
.panel-primary {
  border-color: #FF8598;
}
.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #FF8598;
  border-color: #FF8598;
}
.well {
  background-color: #FF8598;
  border: 1px solid #FFC0A9;
}
.nav.open > a,
.nav.open > a:hover,
.nav.open > a:focus {
  color: #ffffff;
  background-color: #FF8598;
  border-color: #FF8598;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #FF8598;
}
.nav .caret {
  border-top-color: #FF8598;
  border-bottom-color: #FF8598;
}
.nav a:hover .caret {
  border-top-color: #FFC0A9;
  border-bottom-color: #FFC0A9;
}
.navbar-brand {
  color: #FF8598;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #FFC0A9;
}
.jumbotron {
  background-color: #FF8598;
}
.jumbotron .btn-primary {
  background-color: #FFC0A9;
  border-color: #FFFFFF;
}
.jumbotron .btn-primary:hover,
.jumbotron .btn-primary:focus,
.jumbotron .btn-primary:active,
.jumbotron .btn-primary.active  {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #FF8598;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border-top: 2px solid #FF8598;
}
.navbar-static-top,
.navbar-fixed-top {
  border-top: 2px solid #FF8598;
  -webkit-box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.5);
}
.navbar-fixed-bottom {
  border-bottom: 2px solid #FF8598;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
}
.panel-default {
  border-top-color: #FF8598;
}